.capturar-viaticos .header{
    /* background-color:#fbfafa; */
    padding: 15px;
}


.nombre-completo {
    font-size: 20px;
    text-decoration: underline;
}

.error {
    font-size: 12px;
    color: red;
    margin-top: 0.25rem;
  }
