.informe-actividades{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulos{
    font-size: 11px;
}

.gris{
    color: rgb(135, 135, 135);
}

.mb-6{
    margin-bottom: 5rem;
}

.atent{
    font-size: 13px;
}

.informe{
    font-size: 17px;
}