.posicion{
    position: absolute !important;
    z-index: 1000;
    overflow: visible;
}

.listado-viaticos{
    overflow: visible;
}

.guinda{
    color:#651930;
    background-color: #ffff ;
    border-color: #651930;
}

.guinda:hover{
    background-color: #651930;
    color: #ffff !important;
    border-color: #ffff !important;
}

.guinda:active{
    background-color: #531326 !important;
    color: #ffff ;
    border-color: #ffff;
}