.menu-principal{
  color: #737373;
  text-decoration: none;
}

.menu-principal:hover{
  color: #323232;
}

.vertical-nav {

    width: 17rem;
    height: 100vh;
    position: fixed !important;
    /* top: 0; */
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    display: block !important;
  }

  .sidebar-nav {
    padding-top: .25rem;
  }

  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
    overflow: scroll;
    height: calc(100vh - 80px);
  }

  .vertical-nav .show {
    background-color: transparent;
  }

  .activo{
    color: white !important; 
    background-color: #651930;
    transition: all .3s ease-out;
  }

  .guinda{
    color:#651930 !important
  }

  .nav-link{
    color: #651930;
    width: 100%;
  }

  .sidebar-link{
    display: flex;
    align-items: center;
    gap: .75rem;
    padding: .6rem .75rem;
    border-radius: .5rem;
    text-decoration: none;
  }

  .sidebar-icon{
    width: 1.25rem;
    text-align: center;
    flex: 0 0 1.25rem;
  }

  .sidebar-text{
    margin: 0;
  }

  .nav-link:hover{
    color: white !important;
    background-color: #651930;
    transition: all .3s ease-out;
  }

  .navbar-toggler {
    background-color: transparent;
    border-color: #651930;
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }

  
  
  @media (max-width: 990px) {
    /* #sidebar {
      margin-left: -17rem;
    } */
    .vertical-nav {
      min-width: 0rem;
      max-width: 17rem;
      height: 0;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
      transition: all 0.4s;
      z-index: 2;
      position: relative !important;
      
    }

    .vertical-nav a{
      padding: .5rem;
    }
    
    .nav-link{ 
      padding: 1rem;
    }

    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
    .page-content {
      width: calc(100%);
      margin-left: 0rem;
      margin-top: 0rem;
    }
    .nav-item {
      padding: 0rem 0rem;
    }
  }