.btn-guinda{
    color:#651930; 
    text-decoration: none;
    background-color: white;
    top:0;
    transition: background-color .4s, top .4s;
}

.btn-guinda:hover{
    color: white !important;
    background-color: #651930 !important;
    position: relative;
    top: -.8rem;
}

.icono{
    font-size: 5rem;
}

.letra{
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}