
.btn-primario{
    color: #fff;
    background-color: var(--cea-primary-900);
    
}

.btn-primario:hover{
    background-color: var(--cea-primary-800);
}

.main {
    min-height: 100vh;
    background-color: var(--cea-page);
}

.page-content > * {
    max-width: 100%;
}
