 <div>
      <Navbar>
        <NavbarBrand href="/">reactstrap</NavbarBrand>
        <NavbarToggler onClick={toggle} />
        <Collapse isOpen={isOpen} navbar>
          <Nav className="me-auto" navbar>
            <NavItem>
              <NavLink href="/components/">Components</NavLink>
            </NavItem>
            <NavItem>
                GitHub
            </NavItem>
            <UncontrolledDropdown nav inNavbar>
            </UncontrolledDropdown>
          </Nav>
          <NavbarText>Simple Text</NavbarText>
        </Collapse>
      </Navbar>
    </div>

          </div>
    {/*<div className="vertical-nav py-4 px-3 mb-4" id="sidebar">              
                    <p className="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Menu Principal</p>
                  
                    <ul className="nav flex-column bg-white mb-0">

                      <li className="nav-item">
                        <NavLink className={ ({ isActive }) => isActive ? 'nav-active nav-link blanco': 'nav-link guinda' } to='/capturar-viatico'>
                          <i className="fa-solid fa-file mr-3"></i>
                            <span className='m-1'>Capturar</span>
                        </NavLink>
                      </li>
                      <li className="nav-item">
                        <NavLink className={ ({ isActive }) => isActive ? 'nav-active nav-link blanco': 'nav-link guinda' } to='/listado-viaticos'>
                          <i className="fa-regular fa-folder-open"></i>
                            <span className='m-1'>Listado</span>
                        </NavLink>
                      </li>
                        <hr/>
                        <li className="nav-item">
                            <NavLink className={ ({ isActive }) => isActive ? 'nav-active nav-link blanco': 'nav-link guinda' } to='/cerrar-sesion'>
                                <i className="fa-solid fa-right-from-bracket"></i>
                                <span className='m-1'>Cerrar Sesion</span>
                            </NavLink>
                        </li>
                      
                    </ul>
        </div>


        <div>
          <Navbar expand="md" className='vertical-nav py-4 px-3 mb-4'>
            <NavbarToggler onClick={toggle} />
            <Collapse isOpen={isOpen} navbar>
    
            <NavbarText className='text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0'>Menu Principal</NavbarText>
            
              <Nav className="nav flex-column bg-white mb-0" navbar>
                <NavItem>
                  <NavLink className={ ({ isActive }) => isActive ? 'nav-link activo': 'nav-link guinda' } to='/capturar-viatico'>
                    <i className="fa-solid fa-file mr-3"></i>
                      <span className='m-1'>Capturar</span>
                  </NavLink>
                </NavItem>
                <NavItem>
                  <NavLink className={ ({ isActive }) => isActive ? 'nav-active nav-link blanco': 'nav-link guinda' } to='/listado-viaticos'>
                    <i className="fa-regular fa-folder-open"></i>
                    <span className='m-1'>Listado</span>
                  </NavLink>
                </NavItem>
                <NavItem>
                  <NavLink className={ ({ isActive }) => isActive ? 'nav-active nav-link blanco': 'nav-link guinda' } to='/cerrar-sesion'>
                    <i className="fa-solid fa-right-from-bracket"></i>
                    <span className='m-1'>Cerrar Sesion</span>
                  </NavLink>
                </NavItem>
              </Nav>
            </Collapse>
          </Navbar>
        </div>